
  <title></title>
  <% if (user) { %>
      <h1>Hello <%= user.email %> :)</h1>
    <form method="post" action="/logout" >
      <button>Logout</button>
    </form>
    <form method="get" action="/urls/new" >
      <button>Add a new URL</button>
    </form>

  <% } else { %>
      <h1>Hello :)</h1>
      <a href="/register"><button type="submit">Register</button></a>
      <a href="/login">
        <button type="submit">Login</button></a>
  <% } %>
