<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <% include ./partials/_header %>
  <% if (user) { %>
    <form method="get" action="/urls/new" >
      <button>Add a new URL</button>
    </form>
    <ul>
      <% for (var key in urls) { %>
        <li>
          <form method="POST" action="/urls/<%= key %>/delete">
                <%= urls[key].longURL %> <%= key %> <button>Delete</button>
          </form>

          <form method="get" action="/urls/<%= key %>">
            <button>Edit</button>
          </form>
        </li>
      <% } %>
    </ul>
  <% } else { %>
    <p>please log in or register to display URLs</p>
  <% } %>
</body>
</html>