<!DOCTYPE html>
<html>
<head>
<% include ./partials/_header %>
  <title></title>
</head>
<body>
  <ul>
    <% for (var key in urls) { %>
    <li><%= urls[key] %></li>
    <% } %>
  </ul>
    <a href="">
</body>
</html>