  <!DOCTYPE html>
  <html>
  <head>
    <title></title>
  </head>
  <body>
    <% include ./partials/_header %>
    <form action="/urls/<%= shortURL %>/edit" method="POST">
      <p>
      <input type="text" name="longURL" value="<%= longURL %>">
        <button type="submit">Edit</button>
        <li><%= shortURL%> <%= longURL%></li>
      </p>
    </form>

  </body>
  </html>
